<div class="app-root">
  <div *ngIf="searchLogin.length > 0">
    <h2>Показаны результаты по "{{ searchLogin }}"</h2>
    <button (click)="restoreSearchInput()">Вернуть в строку поиска?</button>
  </div>

  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label class="search-form__label" for="search-input">Введите логин: </label>
    <input
      class="search-form__input"
      id="search-input"
      type="text"
      formControlName="searchInput"
    />
    <button
      class="search-form__submit"
      type="submit"
      [disabled]="!searchForm.valid"
    >
      Поиск
    </button>

    <div
      [hidden]="searchForm.valid || searchForm.untouched"
      class="search-form__alert"
    >
      Некорректный логин (3-20 символов)
    </div>
  </form>

  <table class="stop-words">
    <caption>
      Статистика стоп-слов
    </caption>
    <thead>
      <tr>
        <th>Стоп слово</th>
        <th>Количество использований</th>
        <td>Действия?</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stopWord of getStopWords()">
        <th>{{ stopWord.stopWord }}</th>
        <td>{{ stopWord.numberUses }}</td>
        <td>
          <button (click)="deleteStopWord(stopWord.stopWord)">Удалить</button>
        </td>
      </tr>
    </tbody>
    <!-- <tfoot>
      <tr>
        <th scope="row">Totals</th>
        <td>21,000</td>
      </tr>
    </tfoot> -->
  </table>

  <form
    class="add-stop-word"
    [formGroup]="interactArrayStopWords"
    (ngSubmit)="addStopWord()"
  >
    <label class="add-stop-word__label" for="add-word-input"
      >Введите новое стоп-слово:
    </label>
    <input
      class="add-stop-word__input"
      id="add-word-input"
      type="text"
      formControlName="newStopWord"
    />
    <button
      class="add-stop-word__submit"
      type="submit"
      [disabled]="!interactArrayStopWords.valid"
    >
      Добавить
    </button>

    <div
      [hidden]="
        interactArrayStopWords.valid || interactArrayStopWords.untouched
      "
      class="add-stop-word__alert"
    >
      Некорректное стоп-слово (3-10 символов)
    </div>
  </form>
</div>
